body{
  color: #40514E;
  text-align:center;
  margin: 0;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  font-weight: normal;
  margin : 100px auto 0 auto;
}


h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;

}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
}
p{
  line-height: 2;
}

hr{
  width: 10%;
  border-width: 0;
  border-top-width: 5px;
  color: #EAF6F6;
  border-style: dotted;
  margin: 50px auto;
}
a{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin: 10px 20px;

  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

.copy-right{
  color:#EAF6F6;
  padding: 20px 0;
}
.top-container{
  background-color: #FBF8F1;
  position: relative;
  padding:  50px 0;
  margin-bottom: 50px;
}

.top-cloud{
  position: absolute;
  right: 200px;

}
.bottom-cloud{
  position: absolute;
  left: 200px;
}


.profile{
  width: 40%;
  margin:0 auto 50px;

}

.intro{
  width:50%;
  margin: auto;
}

.profile-img{
   border-radius: 50%;
  width: 50%;
}

.skill-row{
  width: 50%;
  margin:50px auto 50px;
}

.skill-row-img1{
  width: 30%;
  margin-right: 30px;
  float: left;

}

.skill-row-img2{
  width: 30%;
  float: right;
margin-left: 30px;
}
.skills{
  margin: 10px auto 150px;
}
.contact-me{
  margin: 50px auto;
}
.bottom-container{
  background-color: #66BFBF;
padding: 20px 0 20px;
}
